body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main {
  height: 100vh;
}

.main::before {
  content: "";
  background-image: url("./money.jpg");
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background: rgb(2, 0, 36);
  background-image: linear-gradient(
    to right top,
    #e0419c,
    #cf53b3,
    #b963c6,
    #a071d3,
    #847ddb,
    #688de9,
    #459cf1,
    #00aaf5,
    #00c1fe,
    #00d7ff,
    #00ecfb,
    #2dfff2
  );
}

.footer {
  font-size: 1.2rem;
}

.responsiveFooter {
  display: none;
}

@media (max-width: 475px) {
  .footer {
    display: none;
  }
  .responsiveFooter {
    display: block;
    text-align: center;
  }
  .social-icons {
    margin-top: -0.5rem;
  }
}
@media (max-width: 430px) {
  .container {
    width: 90%;
    gap: 1rem;
    /* padding-top: 2rem; */
  }
  header {
    text-align: center;
  }
  button {
    padding: 0rem;
  }
  input {
    font-size: 0.8rem;
  }
}
